In [5]:
print('|%10d %9d %9d|'%(12345,12,1234567))
print('|%10d %9d %9d|'%(12,1234567,123))
print('|%10d %9d %9d|'%(1234567,123,12345))

|     12345        12   1234567|
|        12   1234567       123|
|   1234567       123     12345|

In [6]:
print(format('department','12s'))
print(format('of','12s'))
print(format('computer','12s'))
print(format('science','12s'))

department
of
computer
science

In [7]:
print(format('department','>12s'))
print(format('of','>12s'))
print(format('computer','>12s'))
print(format('science','>12s'))

  department
          of
    computer
     science

In [8]:
print(format(123.456,'10.2f'))
print(format(12345.678,'10.2f'))

    123.46
  12345.68

In [12]:
print('i=%d'%(100))
print('i=%d,j=%d'%(100,200))

i=100
i=100,j=200

In [19]:
print('price:$%8.2f'%(356.08977))
print('%10.2f %10.2f'%(123.456,345.789))
print('%-10.2f%5d'%(123.456,100))
print('radius=%d,area=%7.2f'%(5,5*5*3.14159))
print('radius:{a:3d},area:{b:10.2f}'.format(a=5,b=5*5*3.14159))

price:$  356.09
    123.46     345.79
123.46      100
radius=5,area=  78.54
radius:  5,area:     78.54

In [23]:
print('%.2f degree celsius in fahrenheit \
is %.2f'%(3.25,3.25*1.8+32))
print('%.2f degree fahrenheit in celsius \
is %.2f'%(94.5,(94.5-32)/1.8))

3.25 degree celsius in fahrenheit is 37.85
94.50 degree fahrenheit in celsius is 34.72

In [28]:
print('%-15s%-10s'%('mouth','amount'))
print('%-15d%-10.2f'%(1,43400.2))
print('%-15d%-10.2f'%(2,45430.28))
print('%-15d%-10.2f'%(3,48030.48))
print('%-15d%-10.2f'%(4,51112.96))
print('%-15d%-10.2f'%(5,52857.2))

mouth          amount
1              43400.20
2              45430.28
3              48030.48
4              51112.96
5              52857.20

In [69]:
print(format(123,'<8d'),end='')
print(format(45,'<2d'))
print(format(123456,'<8d'),end='')
print(format(78901,'<7d'))

123     45
123456  78901

In [57]:
print('{0:<8d}'.format(123),end='')
print('{0:<2d}'.format(45))
print('{0:<8d}'.format(123456),end='')
print('{0:<7d}'.format(78901))

123     45
123456  78901

In [68]:
print('%-7d %-2d'%(123,45))
print('%-7d %-7d'%(123456,78901))

123     45
123456  78901

In [71]:
print(format(123,'>8d'),end='')
print(format(45,'>7d'))
print(format(123456,'>8d'),end='')
print(format(78901,'>7d'))

     123     45
  123456  78901

In [72]:
print('{0:>8d}'.format(123),end='')
print('{0:>7d}'.format(45))
print('{0:>8d}'.format(123456),end='')
print('{0:>7d}'.format(78901))

     123     45
  123456  78901

In [74]:
print('%7d %7d'%(123,45))
print('%7d %7d'%(123456,78901))

    123      45
 123456   78901

In [76]:
print('member {0:7s},discount {1:3.2f}'.format('karen',0.35))
print('member {0:7s},discount {1:3.2f}'.format('sammy',0.4))
print('member {0:7s},discount {1:3.2f}'.format('jojo',0.42))

member karen  ,discount 0.35
member sammy  ,discount 0.40
member jojo   ,discount 0.42

In [77]:
print('%20s %-20s'%('tall','short'))
print('%20s %-20s'%('strong','weak'))
print('%20s %-20s'%('thick','thin'))

                tall short
              strong weak
               thick thin

In [81]:
print('%20s %-20s'%('apple\'s product:','iPhone'))
print('%20s %-20s'%('','iMac'))
print('%20s %-20s'%('','apple watch'))
print('%20s %-20s'%('','...'))

    apple's product: iPhone
                     iMac
                     apple watch
                     ...

In [82]:
print('%-15s %7s'%('city','celsius'))
print('%-15s %7.2f'%('taipei',33.2))
print('%-15s %7.2f'%('yilan',32.93))
print('%-15s %7.2f'%('miaoli',32.29))
print('%-15s %7.2f'%('taichung',32.48))
print('%-15s %7.2f'%('hualian',33.87))

city            celsius
taipei            33.20
yilan             32.93
miaoli            32.29
taichung          32.48
hualian           33.87

In [86]:
print('|%6d %6d %6d %6d|'%(22,44,66,88))
print('|%-6d %-6d %-6d %-6d|'%(33,55,77,99))
print('|%6d %6d %6d %6d|'%(222,444,555,888))
print('|%-6d %-6d %-6d %-6d|'%(333,555,777,999))

|    22     44     66     88|
|33     55     77     99    |
|   222    444    555    888|
|333    555    777    999   |

In [104]:
print('---------')
print('Learning Python now***')
print('Python is fun$$$')
print('---------')

---------
Learning Python now***
Python is fun$$$
---------

In [111]:
print('{0:<10.2f}'.format(123.46),end='')
print('{0:<.2f}'.format(45.68))
print('{0:<10.2f}'.format(123456.79),end='')
print('{0:<.2f}'.format(78901.23))

123.46    45.68
123456.79 78901.23

In [112]:
print('{0:<10.2f}'.format(123.46),end='')
print('{0:<.2f}'.format(45.68))
print('{0:<10.2f}'.format(123456.79),end='')
print('{0:<.2f}'.format(78901.23))

123.46    45.68
123456.79 78901.23

In [116]:
print('%-9.2f %.2f'%(123.46,45.68))
print('%-9.2f %.2f'%(123456.79,78901.23))

123.46    45.68
123456.79 78901.23

In [120]:
print('|%3d|'%(12345))
print('|%5d|'%(12345))
print('|%8d|'%(12345))

|12345|
|12345|
|   12345|

In [127]:
print('|%f|'%(123.456))
print('|%5.2f|'%(123.456))
print('|%10.2f|'%(123.456))
print('|%.2f|'%(123.456))
print('|%10s|'%('apple'))
print('|%-8d|'%(123456))
print('|%-10.2f|'%(123.456))
print('|%-10s|'%('apple'))

|123.456000|
|123.46|
|    123.46|
|123.46|
|     apple|
|123456  |
|123.46    |
|apple     |

In [128]:
i=0
i=i+3
print(i)
i=i+3
print(i)

3
6

In [129]:
i=10
i*=10
i=i*10
print(i)
i=i*10
print(i)

1000
10000

In [132]:
k=input("請輸入整數")
float(k)+10

請輸入整數10

20.0

In [133]:
import math as ma

In [134]:
ma.ceil(3.4)

4

In [135]:
1>=0

True

In [136]:
int(1>=0)

1

In [137]:
1<=0

False

In [138]:
int(1<=0)

0

In [141]:
i=-1
if(i>=0):
    print(i)
    print(i)
    print(i)
print("hi")

hi

In [144]:
x=60
if(x>60):
    x=x+5
    print(x)
print(x)

60

In [145]:
numer=10
demon=0
if(demon!=0):
    ans=numer/demon
else:
    ans="分母為0"
print(ans)

分母為0

In [147]:
numer=10
demon=9
if(demon!=0):
    ans=numer/demon
else:
    ans="分母為0"
print(ans)

1.1111111111111112

In [148]:
10%6

4

In [149]:
num=9
if(num%2==0):
    print(num,"是偶數")
else:
    print(num,"是奇數")

9 是奇數